# The .gcloudignore file specifies files that should be ignored
# when uploading your source code to Google Cloud.
# For more information, see: https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore

.git
.gitignore
__pycache__/
*.pyc
.DS_Store
.env
*.env
